<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <link href="static/css/socnet-style.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="ico" href="../static/css/img/Icono.ico">
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>
    <title>
        SocNet
    </title>
</head>
<body>
<div id="containerIndex">
    <nav>
        <ul>
            <a href="/"> <img src="../static/css/img/home-solid.png"alt=""> SocNet</a>{% if logged %}
            <a href="home"> <img src="../static/css/img/envelope-solid.png"alt=""> Inicio</a>
            <a href="profile"> <img src="../static/css/img/user-solid.png"alt=""> Perfil</a>
            <a href="logout"> <img src="../static/css/img/logout-solid.png"alt=""> Cerrar sesión({{ nickname }})</a>{% else %}
            <a href="login"> <img src="../static/css/img/user-solid.png"alt=""> Iniciar sesión</a>
            <a href="signup"> <img src="../static/css/img/register-solid.png"alt=""> Registrarse</a>{% endif %}
        </ul>
    </nav>
    <header>
        <h1 style="margin-right:10px" id="indexh">
            SocNet
        </h1>
        <p>Conectate con tus amigos, haz nuevos y</p>
        <p>comparte tus mejores momentos. . .</p>
    </header>
</div>
</body>
</html>
